<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Theme</title>
        <link href="./mystyle.scss" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div class="theme-container">
            <div class="theme-container__element">
                <div class="primary">
                    <span>Primary</span>
                </div>
                <div class="alert">
                    <span>Warning</span>
                </div>
                <div class="danger">
                    <span>Error</span>
                </div>
                <div class="success">
                    <span>Success</span>
                </div>
            </div>
            <div class="theme-container__element">
                <div class="primary">
                    <span>Primary</span>
                </div>
                <div class="alert">
                    <span>Warning</span>
                </div>
                <div class="theme__item danger">
                    <span>Error</span>
                </div>
                <div class="theme__item success">
                    <span>Success</span>
                </div>
            </div>
        </div>
    </body>

</html>