mat-card {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  padding: 16px;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
