<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Theme</title>
        <link href="./mystyle.scss" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div class="navigation-container">
            <div class="navigation-container__item">
                <a href="#">Home</a>
            </div>
            <div class="navigation-container__item">
                <a href="#blog">Blog</a>
            </div>
            <div class="navigation-container__item">
                <a href="#activities">Activities</a>
            </div>
            <div class="navigation-container__item">
                <a href="#aboutme">About me</a>
            </div>
        </div>
    </body>

</html>