<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="./mystyle.scss" type="text/css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="christmas-container">
            <h1>Christmas Palette</h1>
            <div class="christmas-item">
                <div class="christmas-item__hat-darken-4">
                    <img class="color-hat-img" src="../public/img/winter-hat-christmas.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__hat-darken-3">
                    <img class="color-hat-img" src="../public/img/winter-hat-christmas.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__hat-darken-2">
                    <img class="color-hat-img" src="../public/img/winter-hat-christmas.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__hat-darken-1">
                    <img class="color-hat-img" src="../public/img/winter-hat-christmas.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__hat-base-color">
                    <img class="color-hat-img" src="../public/img/winter-hat-christmas.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__hat-lighten-1">
                    <img class="color-hat-img" src="../public/img/winter-hat-christmas.svg" alt="christmas-tree" /> 
                </div>
                <div class="christmas-item__hat-lighten-2">
                    <img class="color-hat-img" src="../public/img/winter-hat-christmas.svg" alt="christmas-tree" /> 
                </div>
                <div class="christmas-item__hat-lighten-3">
                    <img class="color-hat-img" src="../public/img/winter-hat-christmas.svg" alt="christmas-tree" /> 
                </div>
                <div class="christmas-item__hat-lighten-4">
                    <img class="color-hat-img" src="../public/img/winter-hat-christmas.svg" alt="christmas-tree" /> 
                </div>
            </div>
            <div class="christmas-item">
                <div class="christmas-item__tree-darken-4">
                    <img class="color-tree-img" src="../public/img/christmas-tree.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__tree-darken-3">
                    <img class="color-tree-img" src="../public/img/christmas-tree.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__tree-darken-2">
                    <img class="color-tree-img" src="../public/img/christmas-tree.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__tree-darken-1">
                    <img class="color-tree-img" src="../public/img/christmas-tree.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__tree-base-color">
                    <img class="color-tree-img" src="../public/img/christmas-tree.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__tree-lighten-1">
                    <img class="color-tree-img" src="../public/img/christmas-tree.svg" alt="christmas-tree" /> 
                </div>
                <div class="christmas-item__tree-lighten-2">
                    <img class="color-tree-img" src="../public/img/christmas-tree.svg" alt="christmas-tree" /> 
                </div>
                <div class="christmas-item__tree-lighten-3">
                    <img class="color-tree-img" src="../public/img/christmas-tree.svg" alt="christmas-tree" /> 
                </div>
                <div class="christmas-item__tree-lighten-4">
                    <img class="color-tree-img" src="../public/img/christmas-tree.svg" alt="christmas-tree" /> 
                </div>
            </div>
            <div class="christmas-item">
                <div class="christmas-item__snowflake-darken-4">
                    <img class="color-snowflake-img" src="../public/img/snowflake.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__snowflake-darken-3">
                    <img class="color-snowflake-img" src="../public/img/snowflake.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__snowflake-darken-2">
                    <img class="color-snowflake-img" src="../public/img/snowflake.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__snowflake-darken-1">
                    <img class="color-snowflake-img" src="../public/img/snowflake.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__snowflake-base-color">
                    <img class="color-snowflake-img" src="../public/img/snowflake.svg" alt="christmas-tree" />
                </div>
                <div class="christmas-item__snowflake-lighten-1">
                    <img class="color-snowflake-img" src="../public/img/snowflake.svg" alt="christmas-tree" /> 
                </div>
                <div class="christmas-item__snowflake-lighten-2">
                    <img class="color-snowflake-img" src="../public/img/snowflake.svg" alt="christmas-tree" /> 
                </div>
                <div class="christmas-item__snowflake-lighten-3">
                    <img class="color-snowflake-img" src="../public/img/snowflake.svg" alt="christmas-tree" /> 
                </div>
                <div class="christmas-item__snowflake-lighten-4">
                    <img class="color-snowflake-img" src="../public/img/snowflake.svg" alt="christmas-tree" /> 
                </div>            
            </div>
        </div>
    </body>

</html>