<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Card</title>
        <link href="./mystyle.scss" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div class="card">
            <div class="card__container">
                <div class="card__container--header">
                    <img src="../public/img/montana.jpg" alt="glamping"/>
                </div>
                <div class="card__container--body">
                    <h1>Title</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum possimus ex non inventore est rem expedita minus magnam vel odit fugit, quasi, atque corporis, aperiam incidunt tempora animi harum labore!</p>
                    <div class="card__container--body-date">
                        <span>Published:</span>
                        <span>Marhch 20, 2020</span>
                    </div>
                    <button>More info</button>
                </div>
            </div>
        </div>
    </body>

</html>