html, body {
    width: 100%;
}

.card {
    border: 1px solid black;
    width: 300px;
    height: 500px;
    img {
        width: 100%;
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: 100%;

        &--body {
            padding: .5rem;
            p {
                line-height: 22px;
            }
            span:first-of-type {
                font-weight: 600;
            }
            span {
                text-align: center;
            }
            button {
                width: 100%;
                height: 42px;
                margin: 1rem 0;
                background-color: green;
                border: none;
            }
        }
        &--body-date {
            margin-left: 30%;
        }
    }
    @media(max-width: 480px) {
        width: 95%;
        height: 80%;
    }
}
